.middle {
    position: relative;
    margin: 10% auto;
}

.nav {
    width: 100%;
    display: table;
    color: black;
    padding: 30px 0;
    text-align: left;
}

.nav li {
    display: inline;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
}

#rightSection {
    float: right;
}

body {
    height: 100%;
}

.centered {
    display: block;
    margin: 0 auto;
}

.searchbar {
    width: 25%;
    height: 2em;
    border-radius: 500px;
}

a {
    text-decoration: none;
    color: inherit;
}

footer a {
    padding: 0 10px;
    display: inline-block;
}

.leftElements {
    text-align: left;
    float: left;
}

.rightElements {
    text-align: right;
    float: right;
}

.center {
    margin: 0 auto;
}

footer {
    white-space: nowrap;
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2.5em;
    clear: both;
    text-align: center;
    float: none;
}